.center {
    display: flex;
    /* for  horizontal */
    justify-content: center;
    /*for vertical */
    align-items: center;

    text-align: center;
}


.border {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}


.input {
    padding: 2px;
}

.form {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 6px;

}